body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.code-box-demo {
  text-align: center;
}
/* Hier kann man die Farbe vom Header einstellen */
.ant-layout-header,
.ant-layout-footer,
.ant-menu {
  color: #fff;
  background-color: #262626;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #3ba0e9;
}
[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background: rgba(16, 142, 233, 1);
  text-align: center;
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
.ant-Input {
  background: #7dbcea;
}
.ant-Card {
  background-color: aquamarine;
}
